@model Core.Models.TblPersonel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TblPersonel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Personelıd" />
            <div class="form-group">
                <label asp-for="imageName" class="control-label"></label>
                <input asp-for="imageName" class="form-control" />
                <span asp-validation-for="imageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tc" class="control-label"></label>
                <input asp-for="Tc" class="form-control" />
                <span asp-validation-for="Tc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelMaas" class="control-label"></label>
                <input asp-for="PersonelMaas" class="form-control" />
                <span asp-validation-for="PersonelMaas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Müdürıd" class="control-label"></label>
                <input asp-for="Müdürıd" class="form-control" />
                <span asp-validation-for="Müdürıd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategoriıd" class="control-label"></label>
                <input asp-for="Kategoriıd" class="form-control" />
                <span asp-validation-for="Kategoriıd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
